.message-wrapper{
    // &.deafult {
       
    // }

    &.important {
        background: rgba(39, 178, 120, 0.1);
    }

    &.emergency {
        background: rgba(246, 58, 58, 0.10);
    }

    &.mention {
        background: rgba(225, 17, 92, 0.10);
    }

    &.mention-me {
        background: rgba(155, 46, 207, 0.10);
    }

   
}

